.jp-PositWorkbenchWidget {
      color: var(--jp-ui-font-color1);
      background: var(--jp-layout-color1);
      font-size: var(--jp-ui-font-size1);
      display: flex;
      height: 100%;
      flex-direction: column;
}

.jp-PositWorkbenchWidget header {
  flex: 0 0 auto;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px;
  padding: 8px 12px;
  text-transform: uppercase;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  width: 100%;
}

.jp-PositWorkbenchWidget ul {
      flex: 1 1 auto;
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: auto;
}

.jp-ServerName {
      width: 50%;
}

.jp-ServerInfo {
      text-align: right;
      width: 50%;
}

.jp-PositWorkbenchWidget li {
      display: flex;
      flex-direction: row;
      padding: 4px 12px;
      user-select: all;
      padding-top: 8px;
      padding-bottom: 8px;
      list-style-type: none;
}

.jp-workbench-disconnect-alert {
      color: var(--jp-ui-font-color1);
      background: var(--jp-layout-color1);
      font-size: var(--jp-ui-font-size1);
      display: grid;
      grid-template-areas: 'message message message'
                           '.       dismiss retry';
      grid-template-columns: 1fr max-content max-content;
      grid-template-rows: 1fr min-content;
      border: 1px solid var(--jp-error-color0);
      box-shadow: 0 0 12px 0 rgb(0 0 0 / 50%);
      font-variant-numeric: tabular-nums;
}
