name: Build and Test - Python 3.10

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Build Env
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Mambaforge
          environment-file: conda/recipe/qeb-ci-py310.yml
          activate-environment: qeb-ci-py310
      - name: Build & Test
        run: |
          cd conda/recipe
          conda build .
