[bumpversion]
current_version = 1.3.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:README.md]

[bumpversion:file:src/custom_numbers/__init__.py]

[bumpversion:file:src/custom_numbers/custom_numbers.py]

[bumpversion:file:conda/meta.yaml]
