[build-system]
requires = [
    "setuptools>=61",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "codedepot-git-ai"
version = "0.0.2"
authors = [
  { name="Mario Drumond", email="mario.drumond@codedepot.ai" },
]
description = "Git AI Package"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/codedepotai/git-ai"
Issues = "https://github.com/codedepotai/git-ai/issues"